/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    word-wrap: break-word;
    hyphens: auto;
    background-color: rgb(191, 28, 255);
    font-size: 2rem;
    color: aliceblue;
}

.content {
    padding: 2%;
    max-width: 1200px;
    margin: 0 auto 10px auto;
    background-color: rgb(76, 80, 107);
    border-radius: 10px;
}

.title {
    padding: 40px 0;
    margin: 0;
    color: rgb(191, 28, 255);
    font-size: 5rem;
    text-align: center;
}

.title-h2 {
    padding: 0 0 40px 0;
    font-size: 4rem;
}

.header__nav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: rgb(191, 28, 255);
    border-radius: 10px;
    height: 40%;
    padding: 0.5rem;
}

.header__logo {
    margin-right: 5px;
    flex: 1 1 auto;
}

.logo {
    width: 5rem;
    border-radius: 50%;
}

.menu {
    background-color: rgb(191, 28, 255);
    border-radius: 10px;
    height: 40%;
    padding: 0.5rem;
    align-self: flex-end;
}

.menu__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu__item {
    padding: 1rem 1rem;
    text-align: center;
}

.menu__item-color {
    font-size: 2rem;
    font-style: italic;
    text-decoration: none;
    color: aliceblue;
}

.menu__item-color:hover {
    color: rgb(128, 131, 134);
}

.content__flex {
    display: flex;
    flex-wrap: wrap;
}

.content__item {
    padding: 0.5%;
}

.content__item-100 {
    background-color: brown;
    flex: 1 1 100%;
}

.content__item-75 {
    background-color: blue;
    flex: 1 1 75%;
}

.content__item-25 {
    background-color: green;
    flex: 1 1 25%;
}

.gallery__img {
    display: block;
    width: 100%;
}

.content__item__img {
    flex: 1 1 33%;
}

@media (max-width:1300px) {
    .content {
        max-width: 970px;
    }

    .content__item__img {
        flex: 1 1 50%;
    }
}

@media (max-width:992px) {
    .content {
        max-width: 750px;
    }

    .content__item-75 {
        flex: 1 1 100%;
    }

    .content__item-25 {
        flex: 1 1 50%;
    }
}

.menu__header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__header>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: aliceblue;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 767px) {
    .content {
        max-width: none;
    }

    .content__item-25 {
        flex: 1 1 100%;
    }

    .content__item__img {
        flex: 1 1 100%;
    }

    .menu-button-container {
        display: flex;
    }

    .menu__header {
        position: absolute;
        top: 6rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu__header li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu__header li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu__header>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: aliceblue;
        background-color: rgb(191, 28, 255);
        border-radius: 10px;
    }

    .menu__header>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}